:root {
    --color-background: #000000;
    --color-text: #ffffff;
    --color-navbar: #1f2937;
    --color-navbar-hover: #455b7b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Courier New', Courier, monospace;
}

/* navbar */

.navbar {
    display: flex;
    align-items: stretch;
    justify-content:space-between;
    position: sticky;

    padding: 0px 10px;
    background-color: var(--color-navbar);
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 64px;
    height: 64px;
    object-fit: contain;

    font-size: 1.25rem;
    font-weight: bold;

    color: var(--color-text);
    text-decoration: none;
}

.navbar-links {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links > li {
    position: relative;
}

.navbar-links a {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 20px;

    transition: background-color 0.2s ease;

    color: var(--color-text);
    text-decoration: none;
}

.navbar-links a:hover {
    background-color: var(--color-navbar-hover);
}

/* dropdown */
.dropdown-menu {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    min-width: 160px;

    margin: 0;
    padding: 0;

    list-style: none;
    background-color: var(--color-navbar);
}

.dropdown:hover .dropdown-menu {
    display: block;
}